{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    ["@babel/plugin-transform-typescript", {
      "allowNamespaces": true
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
