{
  "presets": [
    ["@babel/env", {
      "targets": {
        "esmodules": true
      },
      "bugfixes": true,
      "loose": true,
      "modules": false
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", {
      "allowNamespaces": true
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
